@import 'styles/_theme';
@import 'styles/_mixins';

.button {
  align-items: center;
  background-color: $colors-transparent;
  border-radius: $radii-md;
  color: $colors-gray-800;
  cursor: pointer;
  display: flex;
  // flex-shrink: 0;
  font-size: $fontSizes-sm;
  font-weight: $fontWeights-semibold;
  height: $sizes-8;
  justify-content: center;
  line-height: 1.2;
  min-width: $sizes-8;
  padding: 0 $space-3;
  text-decoration: none;
  transition-duration: $transition-duration-normal;
  transition-property: $transition-property-common;
  transition-timing-function: $transition-easing-ease-out;
  user-select: none;
  white-space: nowrap;

  &:not(.button--small) {
    @include screen-sm() {
      font-size: $fontSizes-md;
      height: $sizes-10;
      padding: 0 $space-4;
    }
  }

  &:hover {
    background-color: $colors-blackAlpha-100;
  }

  &:active {
    background-color: $colors-blackAlpha-200;
  }

  &__left-icon,
  &__right-icon {
    color: inherit;
    display: inline-block;
    font-size: $fontSizes-md;
    flex-shrink: 0;
    height: $sizes-3-5;
    line-height: $sizes-3-5;
    width: $sizes-3-5;
  }

  &:not(.button--small) {
    .button__left-icon,
    .button__right-icon {
      @include screen-sm() {
        height: $sizes-4;
        line-height: $sizes-4;
        width: $sizes-4;
      }
    }
  }

  &__left-icon {
    margin-right: $space-2;
  }

  &__right-icon {
    margin-left: $space-2;
  }

  &--brand {
    color: $colors-white;
    background-color: $colors-brand-500;
    box-shadow: $shadows-brand-sm;

    &:hover {
      background-color: $colors-brand-600;
      box-shadow: $shadows-brand-xl;
    }

    &:active {
      background-color: $colors-brand-700;
      box-shadow: $shadows-brand-xl;
    }
  }

  &--secondary {
    color: $colors-white;
    background-color: $colors-blackAlpha-800;

    &:hover {
      background-color: $colors-blackAlpha-900;
    }

    &:active {
      background-color: $colors-blackAlpha-700;
    }
  }
}
