@import 'styles/_theme';
@import 'styles/_mixins';

.postitem {
  align-items: center;
  background-color: $colors-transparent;
  border-radius: $radii-md;
  display: flex;
  flex-direction: row;
  gap: $space-2;
  justify-content: space-between;
  margin: 0 -1rem;
  padding: $space-2 $space-4;
  transition-duration: $transition-duration-normal;
  transition-property: $transition-property-common;
  transition-timing-function: $transition-easing-ease-out;

  &:hover {
    background-color: $colors-gray-200;
  }

  &:active {
    background-color: $colors-gray-300;
  }

  &__title {
    color: $colors-gray-900;
    font-size: $fontSizes-sm;
    font-weight: $fontWeights-medium;

    @include screen-sm() {
      font-size: $fontSizes-md;
    }

    @include screen-md() {
      font-size: $fontSizes-lg;
    }
  }

  &__date {
    color: $colors-gray-600;
    font-family: $fonts-mono;
    font-size: $fontSizes-sm;
    font-weight: $fontWeights-medium;
    white-space: nowrap;
  }
}
