@import 'styles/_theme';
@import 'styles/_mixins';

.pagehero {
  @include container();
  @include spacing($direction: top);
  @include spacing($direction: bottom);
  align-items: flex-start;
  display: flex;
  flex-direction: column-reverse;
  gap: $space-8;

  @include screen-md() {
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
  }

  &__body {
    flex-basis: 70%;
  }

  &__heading {
    background-clip: text;
    background-image: linear-gradient(to left, $colors-brand-500, #ff0080);
    color: $colors-transparent;
    font-size: $fontSizes-2xl;
    font-weight: $fontWeights-bold;
    line-height: $lineHeights-none;

    @include screen-sm() {
      font-size: $fontSizes-3xl;
    }

    @include screen-md() {
      font-size: $fontSizes-4xl;
    }
  }

  &__subtitle {
    color: $colors-gray-800;
    font-family: $fonts-body;
    font-size: $fontSizes-sm;
    font-weight: $fontWeights-normal;

    @include screen-sm() {
      font-size: $fontSizes-md;
    }

    @include screen-md() {
      font-size: $fontSizes-lg;
    }
  }

  &__description {
    color: $colors-gray-900;
    font-size: $fontSizes-sm;
    font-weight: $fontWeights-medium;
    line-height: $lineHeights-tall;
    margin-top: $space-4;

    @include screen-sm() {
      font-size: $fontSizes-md;
    }

    @include screen-md() {
      font-size: $fontSizes-lg;
    }
  }

  &__image {
    width: $sizes-24;

    // @include screen-md() {
    //   flex-basis: 25%;
    //   max-width: 100%;
    // }
  }
}
