@import 'styles/_theme';
@import 'styles/_mixins';

.sectiontitle {
  align-items: center;
  border-bottom: $borders-2px $colors-gray-200;
  display: flex;
  gap: $space-2;
  justify-content: space-between;
  margin-bottom: $space-2;
  padding-bottom: $sizes-2;
  padding-top: $sizes-14;

  &__title {
    color: $colors-gray-900;
    font-size: $fontSizes-2xl;
    font-weight: $fontWeights-medium;

    @include screen-md() {
      font-size: $fontSizes-3xl;
    }
  }

  &__subtitle {
    color: $colors-gray-800;
    font-size: $fontSizes-md;
    margin-top: $space-1;

    @include screen-md() {
      font-size: $fontSizes-lg;
    }
  }
}
